<ul class="card-text font-weight-light list-group list-group-flush cv-awards-list">
  {% assign awards = data[1] | sort: 'date' | reverse %}
  {% for content in awards %}
    <li class="list-group-item">
      <span class="item">
        {% if content.url %}
          <a href="{{ content.url }}">{{ content.title }}</a>
        {% else %}
          <strong>{{ content.title }}</strong>
        {% endif %}
        {% if content.awarder %} - {{ content.awarder }}{% endif %}
        {% if content.summary %}. {{ content.summary }}{% endif %}
        {% if content.date %} ({{ content.date }}){% endif %}
      </span>
    </li>
  {% endfor %}
</ul>
